.scroll-horizontal {
    overflow-y: hidden;
}
.scroll-horizontal::-webkit-scrollbar {
    height: 20px;
}
 
.scroll-horizontal::-webkit-scrollbar-track {
    background: black;
    border-top: 9px solid white;
    border-bottom: 9px solid white;
}
 
.scroll-horizontal::-webkit-scrollbar-thumb {
    background: black;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    width: 20px;
}

